@use "../../foundation/import";
@use "../../mixin" as m;
// Base (Mobile First)
// contactセクション
.p-index-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 56px;
  .p-index-contact__title {
    font-size: 2rem;
    text-align: center;
    span {
      display: block;
      font-size: 1.1rem;
    }
    &::before {
      content: url(/img/sp/title-honey2-sp.webp);
      display: block;
      padding-bottom: 20px;
    }
  }
  .p-index-contact__text {
    margin-top: 50px;
    font-size: 1.4rem;
    width: 336px;
  }
  .p-index-contact__lists {
    margin-top: 40px;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: repeat(4, 14px);
    grid-column-gap: 10px;
    grid-row-gap: 12px;
    transform: translateX(-60px);
  }
}

@include m.mq(pc) {
  .p-index-contact {
    padding-bottom: 180px;
    margin-top: 120px;
    .p-index-contact__title {
      font-size: 2.4rem;
      &::before {
        content: url(/img/pc/icon-honey2-pc.webp);
        padding-bottom: 30px;
      }
    }
    .p-index-contact__text {
      width: 376px;
    }
    .p-index-contact__lists {
      transform: translateX(-80px);
    }
  }
}
