@use "../../foundation/import";
@use "../../mixin" as m;
// Base (Mobile First)
// variousセクション
.p-index-various {
  margin-top: 80px;
  background-color: import.$color-lightblue;
  padding-bottom: 55px;
  margin: 0 auto;
  &::before {
    content: url(/img/sp/icon-rainbow-sp.webp);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .p-index-various__title {
    font-size: 2rem;
    text-align: center;
    position: relative;
    span {
      display: block;
      font-size: 1.1rem;
    }
    &::before {
      content: url(/img/sp/title-honey2-sp.webp);
      position: absolute;
      top: 0;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-duration: 1.5s;
      animation-name: anim_h04;
      @keyframes anim_h04 {
        0% {
          transform: translate(0px,-100px);
        }
        100% {
          transform: translate(30px,-100px);
        }
        }
    }
  }
  .p-index-various__lists {
    width: 375px;
    margin: 0 auto;
    margin-top: 25px;
  }
  .p-index-various__list {
    margin: 0 10px;
  }

  .p-index-various__list-title {
    font-size: 1.7rem;
    font-weight: bold;
    width: 247px;
    margin-top: 15px;
  }
  .p-index-various__list-text {
    font-size: 1.3rem;
    width: 247px;
    margin-top: 15px;
    line-height: 1.62;
  }
}

@include m.mq(pc) {
  .p-index-various {
    margin-top: 80px;
    background-color: import.$color-lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 55px;
    position: relative;
    &::before {
      content: url(/img/pc/icon-rainbow-pc.webp);
      position: absolute;
      top: 0px;
    }
    .p-index-various__title {
      font-size: 2.4rem;
      &::before {
        content: url(/img/pc/icon-honey2-pc.webp);
        position: inherit;
        display: block;
        margin-top: 346px;
        padding-bottom: 26.03px;
        transform: translate(0);
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-duration: 1.5s;
        animation-name: anim_h03;
        @keyframes anim_h03 {
          0% {
            transform: translateX(0px);
          }
          100% {
            transform: translateX(30px);
          }
          }
      }
    }
    .p-index-various__grid-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .p-index-various__lists {
      display: grid;
      grid-template-columns: 377px 250px 250px 377px;
      grid-template-rows: 595px;
      grid-column-gap: 54px;
      grid-row-gap: 0px;
      width: auto;
    }
    .p-index-various__list {
      margin: 0;
    }
    .p-index-various__list:nth-of-type(1) {
      padding-top: 213px;
      padding-left: 127px;
    }
    .p-index-various__list:nth-of-type(2) {
      padding-top: 137px;
    }
    .p-index-various__list:nth-of-type(3) {
      padding-top: 69px;
    }
  }
}
