@use "../../foundation/import";
@use "../../mixin" as m;

// Base (Mobile First)

.c-section__inner {
  width: 100%;
  max-width: 345px;
  margin: 0 auto;
  position: relative;
}

@include m.mq(pc) {
  .c-section__inner {
    width: 100%;
    max-width: 1010px;
    padding: 0;
    margin: 0 auto;
  }
}
